{% extends 'base.html' %}

{% block navbar %}
<a href="/dashboard" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
<a href="/input" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Input</a>
<a href="/models" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Models</a>
<a href="/miRNA" class="nav-item nav-link"><i class="fa fa-table me-2"></i>miRNA Data</a>
<a href="/tutorial" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Tutorial</a>
{% endblock %}

{% block content %}
            <!-- 404 Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
                    <div class="col-md-6 text-center p-4">
                        <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                        <h1 class="display-1 fw-bold">500</h1>
                        <h1 class="mb-4">Internal Server Error</h1>
                        <p class="mb-4">The server has encountered an error. If you tried inputting data, please make sure your file is correctly formatted. The file should have 1882 total lines and
                            1881 total miRNA samples. Please go to the tutorial to see how a correctly formatted file looks.</p>
                        <a class="btn btn-primary rounded-pill py-3 px-5" href="/">Back to Home</a>
                    </div>
                </div>
            </div>
{% endblock %}