    {% extends 'base.html' %}
        {% block navbar %}
        <a href="/dashboard" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
        <a href="/input" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Input</a>
        <a href="/models" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Models</a>
        <a href="/miRNA" class="nav-item nav-link"><i class="fa fa-table me-2"></i>miRNA Data</a>
        <a href="/tutorial" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Tutorial</a>
        {% endblock %}

        {% block content %}
        <div class="container-fluid pt-4 px-4" style="background-color: white">
        <div class="bg-light rounded p-4" style="border: 2px solid #009CFF">
            <div class="container px-4 text-left">
                <h1 class="text-primary">Results</h1>
                <h6>(Note this is a demo, this page does not change based on what is inputted.)</h6>
                <br>
                <p class="lead"></p>
                <h3 class="text-left" style="color: #009CFF">Inputted Cancer Type: Multiclass</h3>
                <br>
                <h3 class="text-left" style="color: #009CFF">Model Cancer Type: Multiclass </h3>
                <br>
                <h3 class="text-left" style="color: #009CFF">Model Type: Random Forest </h3>
                <br>
                <h3 class="text-primary">After running you inputted data through the Multiclass RF model, the prediction came back as: Non-Cancerous</h3><br>
                <h3 class="text-primary">If you want more information on the model used to make this prediction, click the button below.</h3>
                <div style="text-align: center">
                    </br>
                    <a class="btn btn-outline-primary btn-lg" href="/multiclass">Details</a>
                </div>
        </div>
        <br>
        </div>
        </div>
    {% endblock %}